1. When you click on the logo in the website header, the page will move to the top position and refresh.
2. Clicking on the brand logo within the page body should redirect the user to the brand’s category page.
3. When the user scrolls down the page, an arrow should appear in the lower right corner. Clicking this arrow should scroll the page back to the top.
4. When you click on the button with the inscription “US” in the footer of the site, the page will open at the link https://prm.com/us and the main language of the page will change to English.
5. If in the footer of the website in the section “Subscribe to the newsletter” in the field “Enter email” you enter a valid email and click the “Sign me up” button, the user will receive a pop-up window on the website with the message “We are glad that you have subscribed to our newsletter. Subscription confirmation has been sent to your e-mail.”
6. If a valid email address is entered and the “Sign me up” button is clicked, after receiving the pop-up window with the message, the user will receive the message “Thank you for subscribing to the site” to their specified email.
7. Entering the search term “Jeans” in the search bar should direct the user to a page displaying the “Jeans” product category.
8. In the header, there should be two buttons HE/SHE in the left corner of the site. When you click on the “HE” button, the site will go to https://prm.com/ua/ru/c/vin, and the products on the main page will display products from the “He” category. When you click the “She” button, the site will go to the link https://prm.com/ua/ru/c/vona, and the products on the main page will display products from the “She” category.
9. When you click on the heart icon in the upper right corner of the product, a window should open in full view of the product with a list of sizes with the “Confirm” and “Cancel” buttons. 
10. When you add a product to your favorites using the heart icon in the upper right corner with the selected size and clicking the “Confirm” button, a window should appear with the message “Product added to the ‘My Favorites’ tab.” In the header in the upper right corner near the heart icon, the number 1 will appear when you click on it, which will open the “Favorites” page, and we will see the product we have selected in the catalog.